@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --color-primary: #3B82F6;
  /* ... */
}

trix-editor pre, .content pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
}

trix-editor blockquote, .content blockquote {
    border: 0 solid #ccc;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
}
trix-editor ul, .content ul {
    list-style: disc;
    padding-left: 1em;
}

trix-editor ol, .content ol {
    padding-left: 1em;
    list-style-type: decimal;
}

trix-editor a, .content a {
    text-decoration: underline;
    color: var(--color-primary)
}

trix-editor h1, .content h1{
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 0.4em;
    font-weight: bold;
}

trix-editor{
    min-height: 20em!important;
}