<template>
  <div>
    <span
      title="Click to un-approve"
      v-if="this.isApproved"
      class="text-green-500"
    >
      <button v-on:click="updateStatus">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
          />
        </svg>
      </button>
    </span>
    <span title="Click to approve" v-if="!this.isApproved" class="text-red-500">
      <button v-on:click="updateStatus">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
    </span>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    id: String,
  },
  data() {
    return {
      isApproved: 0,
    };
  },
  methods: {
    updateStatus: function () {
      axios({
        method: "PUT",
        url: appURL + "/blogs/" + this.id + "/status",
        data: {
          _token: token,
        },
        responseType: "json",
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRF-TOKEN": token,
        },
      }).then((response) => {
        this.isApproved = response.data.status;
      });
    },
  },
  mounted: function () {
    axios.get(appURL + "/blogs/" + this.id + "/status").then((response) => {
      this.isApproved = response.data.status;
    });
  },
};
</script>
